# Build
bin/
obj/

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo

# NuGet
packages/
*.nupkg


# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Test results
TestResults/
*.trx
*.coverage

appsettings.*.json
!appsettings.json
!appsettings.Development.json